.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 900px;
    background: rgb(219, 144, 144);
    padding-bottom: 60px;
}

.header{
    display: flex;
    flex-direction : column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color:#133d6a;
    font-size: 45px;
    font-weight: 500;
}

.underline{
    width: 180px;
    height: 4px;
    background: #133d6a;
    border-radius: 10px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 20px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 350px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 20px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex ;
    gap: 30px;
    margin: auto;
}

.submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    color: white;
    background: #133d6a;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.gray{
    background: white;
    color: #676767;
}